# {{ ansible_managed }}
server:
  interface: 0.0.0.0
  access-control: 10.23.0.0/16 allow
  private-address: 10.23.0.0/16
  private-domain: dnhrrs.xyz
  local-zone: "10.in-addr.arpa" transparent
stub-zone:
  name: dnhrrs.xyz
  stub-addr: 10.23.20.52
stub-zone:
  name: 23.10.in-addr.arpa
  stub-addr: 10.23.20.52
